* {
    box-sizing: border-box;
}

body {
  margin: 0;
  overflow: scroll;
  padding: 0px 5px;
}

.header {
    background-color: white;
    padding: 15px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    border: 5px solid #ffbab3;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover:not(.active) {
    color: darkred;
}

.topnav a:not(.active) {
  color:black;
}

.active {
    color:darkred;
    font-weight:bold;
}

.column {
    float: left;
    padding: 24px;
}

.column.side {
    width: 30%;
    border: 5px solid #ffbab3;
    position: relative;
}

.column.side p {
  text-align: center;
}

.column.side a {
  color: black;
}

.column.side a:hover:not(.active) {
  color: darkred;
}

.column.middle {
    width: 70%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.flexblock {
  display:flex;
  justify-content:center;
  width: 100%;
  height: 100%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
