.content {
  font-family:"Raleway", sans-serif;
  color:black;
}

p {
  font-style: italic;
}

.header img {
  height: 35px;
  width: auto;
}

.header p {
  font-size: 15px;
}
.post1 {
  transform: rotate(90deg);
  width:300px;
  height:450px;
  display: block;
  margin: auto;
}

.post2 {
  transform: rotate(-90deg);
  width:300px;
  height:450px;
  display: block;
  margin: auto;
}

.post3 {
  transform: rotate(-90deg);
  width:300px;
  height:450px;
  display: block;
  margin: auto;
}

.profilepic {
  border-radius: 50%;
  display: block;
  margin: auto;
}

.icons img {
  width: 40px;
  height: 40px;
}

.travel {
  width: 200px;
  height: 200px;
  padding: 4px 4px;
}

.travel:hover {
  opacity: .5;
}

figcaption {
  font-style: italic;
}

.about {
  width: 300px;
  height: auto;
}

.about_img {
  height: 25px;
  width: auto;
  padding: 4px 4px;
  display:flex;
  justify-content:center;
}

.email:hover {
  color: darkred;
}

.subscribe_img1 {
  width: 75px;
  height: 75px;
}

.subscribe_img2 {
  width: 125px;
  height: auto;
  float: left;
} 
.subscribe_p1 {
  padding-bottom: 100px;
}

.subscribe_img3 {
  width: 200px;
  height: auto;
  float: right;
}

.subscribe_donate1 a {
  color:black;
}

.subscribe_donate2 a {
  color:black;
}

.subscribe_donate3 a {
  color:black;
}

.subscribe_donate1 a:hover {
  color:darkred;
  font-weight: bold;
}

.subscribe_donate2 a:hover {
  color:darkred;
  font-weight: bold;
}

.subscribe_donate3 a:hover {
  color:darkred;
  font-weight: bold;
}

td {
  max-width: 1000px;
}
